* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    font-family: fantasy;
    margin: 10px 30%;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.wrapper img {
    width: min(100%, 130%);
    margin-top: 5px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 770px) {
    h1 {
        font-size: 16px;
    }

    .wrapper {
        margin: 10px 6%;
    }
}